.navbar {
  background-color: #d2aa978c; }
  .navbar .offcanvas {
    background-color: #d2aa978c !important; }

.navbar-brand {
  font-family: 'Cairo', sans-serif;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
  padding: 0%; }

.dropdown-menu {
  background-color: #af958d; }
  .dropdown-menu a {
    color: white; }

.section-1 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-1 a {
    text-decoration: none;
    color: #a88a81; }
  .section-1 .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 6px; }
    .section-1 .redes div {
      display: flex;
      align-items: center;
      padding: 6px; }
      .section-1 .redes div a {
        text-decoration: none; }
      .section-1 .redes div .instagram-img {
        height: 25px;
        width: 25px;
        margin-right: 3px; }
      .section-1 .redes div img {
        height: 35px;
        width: 35px; }

.contacto {
  background-color: #a88a81;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-inline: 10px;
  border-radius: 3px; }
  .contacto img {
    height: 35px;
    width: 35px;
    padding: 3px;
    margin: 2px;
    opacity: 0.5; }
  .contacto span {
    padding-right: 3px;
    margin-right: 2px;
    color: white;
    font-weight: 400; }

.contacto:hover {
  background-color: #bda89f; }
  .contacto:hover img {
    opacity: 1; }
  .contacto:hover span {
    color: #ecded9;
    font-weight: 600; }

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px; }
  .section-2 img {
    margin-right: 10px; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #d2aa97de;
  flex-wrap: wrap; }
  footer .nav-footer {
    display: flex; }
    footer .nav-footer a {
      text-decoration: none;
      padding-inline: 8px;
      color: white; }
  footer .no-copy {
    text-align: center; }
    footer .no-copy span {
      padding-inline: 8px;
      color: white; }

@media screen and (max-width: 683px) {
  footer {
    height: 48px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 392px) {
  footer a {
    font-size: small; } }
