.navbar {
    background-color: #d2aa978c;

    .offcanvas {
        background-color: #d2aa978c !important;
    }
}

.navbar-brand {
    font-family: 'Cairo', sans-serif;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    padding: 0%;
}

.section-1 {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: #a88a81;
    }


    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 6px;

        div {
            display: flex;
            align-items: center;
            padding: 6px;

            a {
                text-decoration: none;
            }

            .instagram-img {
                height: 25px;
                width: 25px;
                margin-right: 3px;
            }

            img {
                height: 35px;
                width: 35px;
            }
        }
    }
}

.contacto {
    background-color: #a88a81;
    display: flex;
    align-items: center;
    margin-top: 20px;

    border-radius: 3px;

    
    img {
        height: 35px;
        width: 35px;
        padding: 3px;
        margin: 2px;
    }

    span {
        padding-right: 3px;
        margin-right: 2px;
        color: white;
        font-weight: 300;
    }
}

.contacto:hover {
    background-color: #bda89f;
    
    span {
        color: #e4d0ca;
        font-weight: 600;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #d2aa97de;
    margin-top: 25px;
    flex-wrap: wrap;

    .nav-footer {
        display: flex;

        a {
            text-decoration: none;
            padding-inline: 8px;
            color: white;
        }

    }


    .no-copy {
        text-align: center;

        span {
            padding-inline: 8px;
            color: white;
        }
    }
}